* {
  box-sizing: border-box;
}

$color-bg: #000000;
$color-active: #27fbe9;

body {
  margin: 0;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: $color-bg;
  padding: 2rem 0;
  text-align: center;
}
  header > a {
      color: white;
      font-size: 1.2em;
      text-decoration: none;
      padding: 0 1rem;
  }
  header > a:hover {
      text-decoration: underline;
  }

h1 {
  text-align: center;
  margin-top: 0;
}

main {
  min-height: calc(100vh - 182px);   
}
  main a {
      text-decoration: none;
      color: $color-bg;
  }
  main a:hover {
      text-decoration: none;
  }

.active {
  color: $color-active;
  cursor: default;
}