.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 14px;
    border-radius: 3px;
    max-width: 500px;
    min-width: 300px;
    border-radius: 10px;
    cursor: auto;
}

.close-modal {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0;
    border: none;
    font: inherit;
    color: #12a591;
    background-color: transparent;
    cursor: pointer;      
}

.close-modal:hover {
    opacity: .5;
}