.aboutAppText {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.aboutAppWrapper {    
    padding: 1% 5%;
}

.aboutAppWrapper-text {
    margin-bottom: 1%;  
    font-size: 20px;    
}

.aboutAppWrapper-text__link {
    color: #1ec5b7;
}

.aboutAppWrapper-text__link:hover {
    color: #11ddcc;
}

.aboutAppWrapper-img {
    margin-left: 32vw;
    max-width: 22em;
    max-height: 22em;
    padding: 1rem;
}

@media (max-width: 425px) {
    .aboutAppWrapper-img {
        margin-left: 1%;
        max-width: 22em;
        max-height: 22em;
    }

    .aboutAppWrapper-text {
        font-size: 14px;    
    }
  }

@media (max-width: 375px) {
    .aboutAppWrapper-img {
        margin-left: 1%;
        max-width: 22em;
        max-height: 22em;
    }

    .aboutAppWrapper-text {
        font-size: 14px;    
    }
  }