.filter__checkbox {
  position: relative;
  display: inline-block;    
  width: 52px;
  height: 27px;
  margin: 0.6em 2em 0 2em;
}

.filter__checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(21, 160, 160);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter__slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .filter__slider {
  background-color: rgb(115, 221, 221);
}

input:checked + .filter__slider:before {  
  transform: translateX(26px);
}

input:checked + .filter__slider.hide {
  background-color: #ccc;
}

input:checked + .filter__slider.hide:before { 
  transform: translateX(0px);
}

.filter__slider.round {
  border-radius: 40px;
}

.filter__slider.round:before {
  border-radius: 50%;
}

.filter__text {
  margin-top: 1em;
  text-align: center;
}

.wrapper-btn__toggler {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}