.filter__text {
  margin-top: 1em;
  text-align: center;
}

.wrapper-btn__toggler {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}